html {
    background-color:#F4F4F4;
    padding:1em;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FFF;
    max-width: 1000px;
    border: 1px solid grey;
    margin: 2em;
    padding: 2em;
    margin: auto;
}

p, div.codeblock {
    border-left: 0.5ex solid #DDD;
    padding-left:1em;
    border-radius:0.5ex;
}

div.codeblock>p {
    border:none;
    padding-left:0;
}
div.codeblock>pre {
    margin-top: 0;
}


img {
    border: 1px solid #DDD;
}

.graphviz-graph text {
    font-family: Lato, Verdana, Geneva, Tahoma, sans-serif;
}

